<%- include('../partials/header') %>

<section id="show-page">
    <div><%= team.name %></div>
</section>

<br><br>
<h2>Players</h2>
<% if (team.players.length) { %>
    <table>
      <thead>
        <tr>
          <th>Player</th>
          <th>PPG</th>
          <th>APG</th>
          <th>RPG</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>
            <%- team.players.map(p => 
                `<ul>${p.name}</ul>`
                ).join('') %>
            </td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
        </tr>
      </tbody>
      <td colspan="4"></td>
    </section>
        <form id="add-player-to-roster" action="/teams/<%= team._id %>/players" method="POST">
        <select name="playerId">
        <%- players.map(p => 
        `<option value="${p._id}">${p.name}</option>`
        ).join('') %>
        </select>
        <button type="submit">Add to Roster</button>
    </form>
<% } else { %>
    <h5>No Players Yet</h5>
  <% } %>
  
<!-- <% team.players.forEach(function(r) { %>
    <% if (user?._id.equals(r.user)) { %>
      <form action="/players/<%= r._id %>?_method=DELETE" method="POST">
        <button type="submit">X</button>
      </form>
    <% } %>
<% }); %> -->


<%- include('../partials/footer') %>
