<%- include('../partials/header') %>

<h2>Select Team To View Games</h2>
<form id="add-game-form" method="POST" action="/games/some">
    <select name="teamId">
        <option value="no team">Select a Team</option>
        <%- team.map(t => 
        `<option value="${t._id}">${t.name}</option>`
        ).join('') %>
    </select>
    <button>SELECT</button>
</form>   

<br><br>
<h2>Select Team to Add Games</h3>
<form id="add-game-form" method="POST" action="/games">
    <select name="teamId">
        <option value="no team">Select a Team</option>
        <%- team.map(t => 
        `<option value="${t._id}">${t.name}</option>`
        ).join('') %>
    </select>

<% if (user) { %>
  <label>Game:</label>
  <textarea name="name"></textarea>
  <label>Win/Loss:</label>
  <select name="winLoss">
    <option value="Win">Win</option>
    <option value="Loss">Loss</option>
  </select>
  <input type="submit" value="Add Game">
</form>
<% } %>

<% if (games.length) { %>
  <table>
    <thead>
      <tr>
        <th>Game</th>
        <th>Win/Loss</th>
        <th>Box Scores</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% games.forEach(function(g) { %>
        <tr>
          <td><%= g.name %></td>
          <td><%= g.winLoss %></td>
            <td><a href="/stats/<%= g._id %>">Stats</a></td>
          <td>
              <form action="/games/<%= g._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="3"></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Games Yet</h5>
<% } %>
  
<%- include('../partials/footer') %>

