<%- include('../partials/header') %>

<h2>Select Team To View Games</h2>
<form id="add-game-form" method="POST" action="/games/some">
    <select name="teamId">
        <%- team.map(t => 
        `<option value="${t._id}">${t.name}</option>`
        ).join('') %>
    </select>
    <button id="select-game">SELECT</button>
</form>   

<br><br>
<h2>Select Team to Add Games</h3>
<form id="add-game-form" method="POST" action="/games">
    <select name="teamId">
        <%- team.map(t => 
        `<option value="${t._id}">${t.name}</option>`
        ).join('') %>
    </select>

  <label>Game:</label>
  <input name="name"></input>
  <label>Win/Loss:</label>
  <select name="winLoss">
    <option value="Win">Win</option>
    <option value="Loss">Loss</option>
  </select>
  <input type="submit" value="Add Game">
</form>

<br><br>
<% if (games.length) { %>
  <table id="all-games">
    <thead id="games-header">
      <tr>
        <th>Game</th>
        <th>Win/Loss</th>
        <th>Box Scores</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="games-body">
      <% games.forEach(function(g) { %>
        <tr>
          <td id="test"><%= g.name %></td>
          <td id="test"><%= g.winLoss %></td>
            <td id="test"><a href="/stats/<%= g._id %>">Stats</a></td>
          <td id="remove-game">
              <form action="/games/<%= g._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="3"></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Games Yet</h5>
<% } %>
  
<%- include('../partials/footer') %>

