<%- include('../partials/header') %>


<h2>
    <section id="show-page">
        <div><%= team.name %></div>
    </section>
</h2>

<h2>Box Score</h2>

<br>
<% if (team) { %>
    <table>
        <thead>
        <tr>
            <th>Player</th>
            <th>Points</th>
            <th>Assists</th>
            <th>Rebounds</th>
            <th></th>
        </tr>
        </thead>
    </tbody>
        <td colspan="4"></td>
    </section>
    <form id="add-stats-to-player" action="/stats/<%= game._id %>" method="POST">
        <label>Player:</label>
        <select name="playerId">
        <%- team.players.map(p => 
            `<option value="${p._id}">${p.name}</option>`
        ).join('') %>
        </select>
        <label>Points:</label>
        <input type="text" name="points" placeholder="points">
        <label>Assists:</label>
        <input type="text" name="assists" placeholder="assists">
        <label>Rebounds:</label>
        <input type="text" name="rebounds" placeholder="rebounds">
        <br>
        <button type="submit">Add to Box Score</button>
        <br>
        </form>
<% } %>

<%- include('../partials/footer') %>

