<%- include('../partials/header') %>


<h2>
    <section id="show-page">
        <div><%= team.name %></div>
    </section>
</h2>

<h2>Box Score</h2>

<br>
<% if (team) { %>
    <table id="stats-table">
        <thead id="stats-header">
        <tr>
            <th>Player</th>
            <th>Points</th>
            <th>Assists</th>
            <th>Rebounds</th>
        </tr>
        </thead>
    <% if (game.boxScore.length > 0) { %>
        <tbody id="stats-body">
            <% stats.forEach(function(s) { %>   
        <tr>
            <td id="test"><%= s.player.name %></td>
            <td id="test"><%= s.points %></td>
            <td id="test"><%= s.assists %></td>
            <td id="test"><%= s.rebounds %></td>
        </tr>
        <% }) %>
    <% } %>
    </tbody>
    </table>
    <table>
    <form id="add-stats-to-player" action="/stats/<%= game._id %>" method="POST">
        <br><br>
        <section id="stats-player">
        <label>Player:</label>
        <select name="playerId">
        <%- team.players.map(p => 
            `<option value="${p._id}">${p.name}</option>`
        ).join('') %>
        </select>
        <label>Points:</label>
        <input type="text" name="points" placeholder="points">
        <label>Assists:</label>
        <input type="text" name="assists" placeholder="assists">
        <label>Rebounds:</label>
        <input type="text" name="rebounds" placeholder="rebounds">
        </section>
        <br>
        <button type="submit">Add to Box Score</button>
        <br>
        </form>
    </table>
<% } %>

<%- include('../partials/footer') %>

