<%- include('../partials/header') %>


<h2>
    <section id="show-page">
        <div><%= team.name %></div>
    </section>
</h2>

<h2>Box Score</h2>

<br>
<% if (team) { %>
    <table>
        <thead>
        <tr>
            <th>Player</th>
            <th>Points</th>
            <th>Assists</th>
            <th>Rebounds</th>
            <th></th>
        </tr>
        </thead>
    <% if (players.length > 0) { %>
        <% player.stats.forEach(function(s) { %>   
    <tbody>
        <td></td>
        <td>s.points</td>
        <td>s.assists</td>
        <td>s.rebounds</td>
    </tbody>
        <td colspan="4"></td>
    </table>
        <% }) %>
    <% } %>
    <table>
    <form id="add-stats-to-player" action="/stats/<%= game._id %>" method="POST">
        <label>Player:</label>
        <select name="playerId">
        <%- team.players.map(p => 
            `<option value="${p._id}">${p.name}</option>`
        ).join('') %>
        </select>
        <label>Points:</label>
        <input type="text" name="points" placeholder="points">
        <label>Assists:</label>
        <input type="text" name="assists" placeholder="assists">
        <label>Rebounds:</label>
        <input type="text" name="rebounds" placeholder="rebounds">
        <br>
        <button type="submit">Add to Box Score</button>
        <br>
        </form>
    </table>
<% } %>

<%- include('../partials/footer') %>

