<%- include('../partials/header') %>

<table>
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Wins</th>
        <th>Losses</th>
      </tr>
    </thead>
    <tbody>
      <% teams.forEach(function(team) { %>
        <tr>
          <td><%= team.name %></td>
          <td><%= team.tally.Win || 0 %></td>
          <td><%= team.tally.Loss || 0 %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

<%- include('../partials/footer') %>